home

<br><br><br>
menu<br>
<a href="{% url 'market:list' %}">Market(X)</a><br>
<a href="{% url 'post:post_list' %}">Post</a><br>
<a href="{% url 'user:login' %}">Users</a><br>

<br><br><br><br><br><br>

+추가<br>
유저, 축제 게시글 기능 REST API<br><br>

User rest api<br>
로그인(POST) : <a href="https://tradi-market.site/auth/api/login/">https://tradi-market.site/auth/api/login/</a><br>
로그아웃(POST) : <a href="https://tradi-market.site/auth/api/logout/">https://tradi-market.site/auth/api/logout/</a><br>
회원가입(POST) : <a href="https://tradi-market.site/auth/api/signup/">https://tradi-market.site/auth/api/signup/</a><br>
아이디찾기(POST) : <a href="https://tradi-market.site/auth/api/find_username/">https://tradi-market.site/auth/api/find_username/</a><br>
비밀번호찾기(POST) : <a href="https://tradi-market.site/auth/api/find_password/">https://tradi-market.site/auth/api/find_password/</a><br>
회원정보수정(POST, PUT) : <a href="https://tradi-market.site/auth/api/update_profile/">https://tradi-market.site/auth/api/update_profile/</a><br><br>

Post rest api<br>
api root : <a href="https://tradi-market.site/post/api/">https://tradi-market.site/post/api/</a><br>
posts : <a href="https://tradi-market.site/post/api/posts/">https://tradi-market.site/post/api/posts/</a><br>
attachments : <a href="https://tradi-market.site/post/api/attachments/">https://tradi-market.site/post/api/attachments/</a><br>
