<a href="{% url 'home:home' %}">home</a><br><br>

<form class="row g-3 my-2" action="#" method="POST" id="searchForm">
    <div class="col-md-3">
        <label for="inputcity" class="form-label">시, 도</label>
        <label for="inputcity" class="form-label" id="ssac_label"></label>
        
        <script type="text/javascript">
            function select_gu(obj) {
                var inputCountySelect = document.getElementById("inputCounty");
                inputCountySelect.innerHTML = '<option value="" selected>선택하세요</option>';

                {% for first_category, second_category in categorized_data.items %}
                    if (obj.value == '{{ first_category }}') {
                        {% for second_category in second_category %}
                            var optionElement = document.createElement('option');
                            optionElement.value = '{{ second_category }}';
                            optionElement.textContent = '{{ second_category }}';
                            inputCountySelect.appendChild(optionElement);
                        {% endfor %}
                    }
                {% endfor %}
            }
        </script>

        <select id="inputcity" class="form-select" name="jcity" required onchange="select_gu(this);">
            <option value="" selected>선택하세요</option>
            {% for first_category in categorized_data.keys %}
                <option value="{{ first_category }}">{{ first_category }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputCounty" class="form-label">군,구</label>
        <select id="inputCounty" class="form-select" name="jcounty" required>
            <option value="none">선택하세요</option>
        </select>
    </div>
    <input type = "submit" value = "검색" onclick="search(); return false;">



    <div id="search_results">
    </div>



    <script>
    function search() {
        var formData = new FormData(document.getElementById("searchForm"));
        formData.append('csrfmiddlewaretoken', getCookie('csrftoken'));
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'market:list' %}", true);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = function() {
            var response = xhr.responseText;
            displayResults(response.search_data);
        };
        xhr.send(formData);
    }
    
    function displayResults(data) {
        var container = document.getElementById("search_results");
        container.innerHTML = ""; 
    
        if (data && data !== null && data !== undefined) {
            var ul = document.createElement("ul");
    
            data.forEach(function(item) {
                var li = document.createElement("li");
                ul.appendChild(li);
            });
            container.appendChild(ul); 
        } else {
            container.textContent = "검색 결과가 없습니다.";
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>

</form>
